body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #302e52;
}

.page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.prompt-and-timer-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flip-card {
    perspective: 1000px;
    transition: transform 0.3s;
    width: 65%;
    height: 20vw; 
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.6);
    border: 2px solid #ffffff;
}

.flip-card-front {
    background-color: #015d9a;
}

.flip-card-back {
    background-color: #006803;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flip-card:hover {
    transform: scale(1.05); /* Slightly larger on hover */
}

.prompt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10vh;
}

.prompt-prefix{
    font-size: calc(1vw + 0.5em);
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

#promptText {
    font-size: calc(1.6vw + 0.5em);
    font-weight: bold;
    color: #ffeb35;
    margin-top: 2.5vh;
}

.timer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffeb35;
    font-size: calc(2.6vw + 1em);
    font-weight: bold;
    margin-top: 2vh;
}

.timer-prompt {
    font-size: calc(1.6vw + 0.5em);
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 2.5vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px; 
    box-sizing: border-box;
    margin: 0;
}

/* Style the color options */
#color-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2vh;
}

.color-option {
    width: 3vw; 
    height: 3vw; 
    margin: 0.25vw; /* Adjusted margin */
    border: 0.15vw solid #ffffff;
    border-radius: 20%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.color-option:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.8);
}

/* Style the grid container */
#grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    /*gap: 1px; /* This creates the 'border' effect */
    background-color: #e0e0e0; /* Light grey, matching the gap color */
    width: 40vw; /* Increased to use more of the viewport width */
    height: 40vw; /* Keep the grid square */
    overflow: hidden;
    margin-bottom: 2vh;
    border: #8c8c8c solid 3px;
    box-shadow: 0 16px 32px rgba(0,0,0,0.7);
}

/* Style the individual cells within the grid */
.cell {
    box-sizing: border-box;
    background-color: #f0f0f0;;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20vw;
    /* Space all children elelments horizontally evenly */
    gap: 1.5vw;
    margin-top: 2vh;
}

#resetBtn {
    padding: 1vh 1vw; 
    font-size: calc(0.6vw + 0.5em); 
    color: #ffffff;
    background-color: #dc3545; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#resetBtn:hover {
    background-color: #a81221; 
}

.response-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    height: 100%;
}

.graph-and-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2.5vh;
}

/* .graph-toggle-button {
    padding: 1vh 1vw;
    font-size: calc(0.5vw + 0.5em);
    color: #ffffff;
    background-color: #18a22b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1vh;
}

.graph-toggle-button:hover {
    background-color: #12761f;
} */

/* CSS */
.graph-toggle-button {
    padding: 1vh 1vw;
    font-size: calc(0.5vw + 0.5em);
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 1vh;
}

.graph-toggle-button:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 0px);
    height: calc(100% + 0px);
    border-radius: 10px;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
}

.graph-toggle-button:hover:before {
    opacity: 1;
    animation: button-animation 20s linear infinite;
}

.graph-toggle-button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes button-animation {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}


.graph-container {
    width: 100%;
}

.prediction-graph {
    background-color: #cce8ff;
    width: 100%;
    border-radius: 1vw;
}

.robot-and-response-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-size: calc(1.0vw + 0.5em);
}

.top-prediction-class {
    font-size: calc(1.6vw + 0.6em);
    font-weight: bold;
    color:#ffffff;
}

.correct-prediction-class {
    font-size: calc(1.6vw + 0.6em);
    font-weight: bold;
    color:#ffeb35;
}

.robot-icon {
    font-size: 12vw;
    margin-bottom: 2.5vh;
    color: #ffffff;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #302e52; 
    padding: 4vw; 
    z-index: 1000;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 20vw; 
    text-align: center;
    border: 2px solid #ffffff; 
    font-size: calc(1.0vw + 0.5em); 
    font-family: Arial, sans-serif; 
    color: #ffffff; 
    opacity: 95%;
}

.popup-message {
    margin-bottom: 2vh;
}

.popup-score {
    font-size: calc(0.5vw + 0.5em);
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 2vh;

}

.popup-close-button {
    padding: 1vh 1vw;
    font-size: calc(0.5vw + 0.5em);
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-close-button:hover {
    background-color: #47bb4d; 
}

.popup-fail-close-button {
    padding: 1vh 1vw;
    font-size: calc(0.5vw + 0.5em);
    background-color: #ff1414; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-fail-close-button:hover {
    background-color: #bc0505; 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;   
    height: 100vh;
    background-color: #302e52;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.overlay-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay-title {
    font-size: calc(1.6vw + 0.5em);
    font-weight: bold;
    color: #ffeb35;
    margin-bottom: 2vh;
}

.overlay-score {
    font-size: calc(1.0vw + 0.5em);
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 2vh;
}

.overlay-instructions {
    font-size: calc(0.6vw + 0.5em);
    color: #ffffff;
    margin-bottom: 2vh;
}

.overlay-content {
    width: 50vw; 
    height: 50vh;
    padding: 2vw;
    background: #ededed;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.final-images-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    grid-gap: 1vw; 
    justify-items: center;
    align-items: center;
    width: 100%; 
    height: 100%;
}

.final-image-sub-container {
    background-color: #302e52;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.final-image {
    width: 100%; 
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.final-image:hover {
    box-shadow: 0 8px 12px rgba(0, 89, 255, 0.5);
}

.reset-game-button {
    padding: 1vh 1vw;
    font-size: calc(0.5vw + 0.5em);
    background-color: rgba(0, 89, 255, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2vh;
}

.reset-game-button:hover {
    background-color: rgb(0, 75, 215);
}

.insight-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;   
    height: 100vh;
    background-color: #716aff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.insight-loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 0 0 0 #716aff;
    animation: l2 1.5s infinite linear;
    position: relative;
}
.insight-loader:before,
.insight-loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 0 0 #716aff;
    animation: inherit;
    animation-delay: -0.5s;
}
.insight-loader:after {
    animation-delay: -1s;
}
@keyframes l2 {
    100% {box-shadow: 0 0 0 40px #ffffff00}
}

.insight-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 80vh;
    padding: 1vw;
    background: #302e52;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.feature-map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60%;
}

.feature-map-title {
    font-size: calc(1.0vw + 0.5em);
    font-weight: bold;
    color: #ffffff;
}

.feature-map-title-explanation {
    font-size: calc(0.6vw + 0.5em);
    color: #ffffff;
    margin-top: -1vh;
}

.feature-map {
    width: 100%; 
    border-radius: 5px;
}

.important-pixel-plots-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60%;
}

.important-pixel-plots-title {
    font-size: calc(1.0vw + 0.5em);
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 2vh;
}

.important-pixel-sub-continer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;    
    position: relative; 
}

.important-pixel-plot {
    width: 50%; 
    border-radius: 5px;
    position: relative;
    z-index: 1; 
    /* height: auto; */
}


.close-insight-button {
    padding: 1vh 1vw;
    font-size: calc(0.5vw + 0.5em);
    background-color: #ff1414; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1vh;
}

.close-insight-button:hover {
    background-color: #bc0505; 
}