<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Pictionary</title>
    <link rel="icon" href="{{ url_for('static', filename='pencil.ico') }}">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="page-container">
        <div class="prompt-and-timer-container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <span class="prompt-prefix", id="promptPrefix">Click here to begin!</span>
                    </div>
                    <div class="flip-card-back">
                        <span class="prompt-prefix", id="promptPrefix">Draw:</span>
                        <span class="prompt-text", id="promptText"></span>
                    </div>
                </div>
            </div>
            <div class="timer-container">
                <span class="timer-prompt"></span>
                <span id="timerText">00:20</span>
            </div>
        </div>
        <div class="main-container">
            <div id="color-options">
                <button class="color-option" data-color="#000000" style="background-color: #000000;"></button>
                <button class="color-option" data-color="#573713" style="background-color: #573713;"></button>
                <button class="color-option" data-color="#830083" style="background-color: #830083;"></button>
                <button class="color-option" data-color="#ff0000" style="background-color: #ff0000;"></button>
                <button class="color-option" data-color="#ff8801" style="background-color: #ff8801;"></button>
                <button class="color-option" data-color="#ffff00" style="background-color: #ffff00;"></button>
                <button class="color-option" data-color="#005300" style="background-color: #005300;"></button>
                <button class="color-option" data-color="#0000ff" style="background-color: #0000ff;"></button>
                <button class="color-option" data-color="#909090" style="background-color: #909090;"></button>
                <button class="color-option" data-color="#ffffff" style="background-color: #ffffff;"></button>
            </div>
            <div id="grid-container">
            </div>
            <div class="button-container">
                <button id="resetBtn">Clear</button>
            </div>
        </div>
        <div class="response-container">
            <div class="graph-and-button-container" id="graphAndButtonContainer">
                <button class="graph-toggle-button", id="toggleGraphBtn">Show Graph</button>
                <div class="graph-container" id="graphContainer">
                    <canvas class="prediction-graph" id="predictionGraph"></canvas>
                </div>
            </div>
            <div class="robot-and-response-container">
                <i class="fa-solid fa-robot robot-icon"></i>
                <span class="top-prediction-text", id="topPrediction">Draw the prompt and I'll give my best guess!</span>
                <span class="correct-prediction-class", id="correctPredictionClass"></span>
                <span class="top-prediction-class", id="topPredictionClass"></span>
            </div>
        </div>
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>
