<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sketch Collect</title>
    <link rel="icon" href="{{ url_for('static', filename='pencil.ico') }}">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="page-container">
        <div class="prompt-container">
            <span id="promptText">Please sketch a: </span>
            <span id="sketchSubject"></span>
            <span id="saveCounter">1/5</span>
        </div>
        <div class="main-container">
            <div id="color-options">
                <button class="color-option" data-color="#000000" style="background-color: #000000;"></button>
                <button class="color-option" data-color="#573713" style="background-color: #573713;"></button>
                <button class="color-option" data-color="#830083" style="background-color: #830083;"></button>
                <button class="color-option" data-color="#ff0000" style="background-color: #ff0000;"></button>
                <button class="color-option" data-color="#ff8801" style="background-color: #ff8801;"></button>
                <button class="color-option" data-color="#ffff00" style="background-color: #ffff00;"></button>
                <button class="color-option" data-color="#005300" style="background-color: #005300;"></button>
                <button class="color-option" data-color="#0000ff" style="background-color: #0000ff;"></button>
                <button class="color-option" data-color="#909090" style="background-color: #909090;"></button>
                <button class="color-option" data-color="#ffffff" style="background-color: #ffffff;"></button>
                <!-- Add more colors ? -->
            </div>
            <div id="grid-container">
                <div id="checkMark">✓</div>
            </div>
            <div class="button-container">
                <button id="saveBtn">Submit Sketch</button>
                <button id="resetBtn">Clear</button>
            </div>
        </div>
        <div class="instructions-container">
            <span id="instructionsTitle">Thank you for helping me collect data for my AI Pictionary game!</span>
            <span id="instructions">There are 10 subject categories, each needing 5 submissions.</span>
            <span id="instructions">These are only meant to be quick, 10-30 second sketches. Every sketch helps me a lot! </span>
            <span id="totalSaveCounter">0/50 Submitted</span>
        </div>
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>
