<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>32x32 Grid Canvas</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="main-container">
        <div id="color-options">
            <button class="color-option" data-color="#000000" style="background-color: #000000;"></button>
            <button class="color-option" data-color="#830083" style="background-color: #830083;"></button>
            <button class="color-option" data-color="#ff0000" style="background-color: #ff0000;"></button>
            <button class="color-option" data-color="#ff8801" style="background-color: #ff8801;"></button>
            <button class="color-option" data-color="#ffff00" style="background-color: #ffff00;"></button>
            <button class="color-option" data-color="#00ff00" style="background-color: #00ff00;"></button>
            <button class="color-option" data-color="#005300" style="background-color: #005300;"></button>
            <button class="color-option" data-color="#0000ff" style="background-color: #0000ff;"></button>
            <button class="color-option" data-color="#00e1ff" style="background-color: #00e1ff;"></button>
            <!-- Add more colors -->
        </div>
        <div id="grid-container"></div>
        <button id="saveBtn">Save as Image</button>
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>
